body{
    padding:50px 0px 0px 0px;
    /*to ensure space for fixed navbar or else navbar will cover jumbotron */
    z-index=0;
}

.row-header{
    margin:0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding:50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #fde7f9;
    background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);
    
    
    
    
    padding :20px 0px 20px;
}

.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    color: floralwhite;

}

.address{
    font-size: 80%;
    margin: 0px;
}

.navbar-dark{
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #009ffd 0%,#2a2a72 50%);
}

.fa-envelope-o
{
    background-color: rgb(192, 68, 68);
    color:floralwhite;
    border-style: solid;
    border-color: rgb(209, 31, 31);
}

.colours
{
    color: #f2f2f2;
    color: #f4faf7;
    color: #f4fffb;
    color: #81d0e8;
    color: #71a1d1;
}
.thead-dark{
   
    background-color: #2a2a72;
}

